.snippet-row {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  padding-bottom: 10vh;
}

.snippet-row-content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 90vw;
  min-height: 15vh;
}

.snippet-row-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9f1c;
  color: #1b1b1b;
}

.snippet-row-element-background-black {
  background-color: #1b1b1b;
  border: 2px solid #ff9f1c;
}

.snippet-row-element-background-green {
  margin: -2px -3px -2px -3px;
  background-color: #ff9f1c;
  border: 5px double #1b1b1b;
}
