.villain-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #f5008f;
  color: #1b1b1b;
}

.villain-top-title {
  grid-column: span 6 / span 6;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #1b1b1b;
}

.villain-top-title-left {
  background-color: #f5008f;
  color: #1b1b1b;
  font-family: "Warning";
  font-size: clamp(1.5rem, 10vw, 11rem);
}

.villain-top-title-right {
  background-color: #1b1b1b;
  color: #f5008f;
  font-family: "Warning";
  font-size: clamp(1.5rem, 10vw, 11rem);
  display: flex;
  align-items: end;
}

.villain-right-title {
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  grid-row-start: 2;
}

.villain-right-title-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: "Warning";
  background-color: #1b1b1b;
  color: #f5008f;
  font-size: clamp(1.5rem, 11vw, 12rem);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 3vh;
}

.villain-paragraph {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  border-bottom: 3px solid #1b1b1b;
  border-right: 3px solid #1b1b1b;
  background-color: #1b1b1b;
  color: #f5008f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.villain-paragraph-text {
  font-size: clamp(1.5rem, 1.75vw, 3rem);
  padding-left: 5px;
  display: block;
}

.villain-paragraph-closer {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
}

.villain-paragraph-invert {
  background-color: #f5008f;
  color: #1b1b1b;
  padding: 2px;
}

.villain-middle-deco {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 2;
  border-bottom: 3px solid #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.villain-middle-deco-text {
  background-color: #f5008f;
  color: #1b1b1b;
  -webkit-text-stroke: 2px #1b1b1b;
  -webkit-text-fill-color: #f5008f;
  font-size: clamp(1.5rem, 7vw, 5rem);
  display: flex;
  align-items: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.villain-bottom-deco {
  grid-column: span 5 / span 5;
  grid-row: span 1 / span 1;
  grid-row-start: 4;
  background-image: url(../../assets/media/backgrounds/villainBg.svg);
  background-position: center;
}

.villain-bottom-lines {
  grid-column: span 6 / span 6;
}

.villain-bottom-eot {
  grid-column: span 6 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 3rem);
  font-family: "Warning";
  padding-bottom: 3vh;
}
