.mobile-overlay {
  display: none;
}

@media (max-width: 768px) {
  .app-content {
    filter: blur(15px);
  }
  .mobile-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    background: #1c1c1c80;
    color: #fcfcfc;
  }
}
